.space-gap{
    padding: 70px 0px;
}

.space-gap-txt{
    padding-top: 30px;
}

.space-gap-bottom{
    padding-bottom: 30px;
}

li a:hover{
    font-weight: bold;
}

h4{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    
    letter-spacing: -0.01em !important;
    
    color: var(--terthiary-text-color) !important;
}

.logo{
    height: 56px;
}

h1{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 72px !important;
    line-height: 78px !important;
}

@media (max-width: 373px) 
{
    h1 {
        font-size: 55px !important;
    }
}

.white-p-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    color: var(--terthiary-text-color);
}

.rounded-img-br{
    border-radius: 70px 0px;
    /* padding-bottom: 20px;
    padding-right: 20px;    
    border: 2px solid #CAA892; */
    box-shadow: var(--white-background-color) 20px 20px 0px -2px, var(--primary-background-color) 20px 20px;
}

.rounded-img-tl{
    border-radius: 70px 0px;
    /* padding-bottom: 20px;
    padding-right: 20px;    
    border: 2px solid #CAA892; */
    box-shadow: var(--white-background-color) -20px -20px 0px -2px, var(--primary-background-color) -20px -20px;
}

@media (max-width: 577px) 
{
    .rounded-img-tl, .rounded-img-br{
        border-radius: 70px 0px;
        /* padding-bottom: 20px;
        padding-right: 20px;    
        border: 2px solid #CAA892; */
        box-shadow: var(--white-background-color) 20px 20px;
    }
}

.signature{
    width: 40%;
    transform: rotate(-9.4deg);
    margin-left: 25%;
}

h2 {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 48px !important;
    line-height: 78px !important;
    color: var(--black-text-color) !important;
    margin-bottom: 30px !important;
    font-weight: bold !important;
    position: relative;
    top: -10px;
}

section:nth-child(1){
    margin-top: 0px;
}

section:nth-child(2){
    margin-top: 0px;
}

section {
    margin-top: 45px;
}

.my-card{
    background: var(--white-background-color);
    box-shadow: 0px 8px 20px var(--black-background-color);
    border-radius: 60px 0px;
    padding: 15px;
    margin-right: 165px;
}

.my-card:nth-child(3){
    margin-right: 0px;
}

@media (max-width: 1399px) 
{
    .my-card{
        margin-right: 142px;
    }
}

@media (max-width: 1200px){
    .my-card{
        margin-bottom: 75px;
    }
}

.my-card-brown{
    background: var(--primary-background-color);
}

.white-txt-color{
    color: var(--white-text-color);
}

.icon{
    width: 50px;
    margin: 0% 25%;
}

.icon2{
    width: 75px;
    margin: 0% 25%; 
}

@media (max-width: 767px) 
{
    .icon{
        margin: 0% 2%;
    }
}

.my-card-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* line-height: 78px; */
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.custom-background-text {
    background-image: url(Images/FarinaLanciata2.png);
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue',
                helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

#negozio{
    padding-top: 150px;
}

.image-shop{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
}

@media (max-width: 373px) 
{
    .image-shop{
        width: 90%
    }
}

.shop-card{
    position: relative;
    background: var(--white-background-color);
    box-shadow: 0px 8px 20px var(--black-background-color);
    border-radius: 60px 0px;
    min-width: 190px;
    max-width: 300px;
}

.text-shop-card{
    bottom: 50px;
    position: relative;
}

.align-signature-bottom{
    position: relative;
    display: block;
    padding-top: 30%;
    width: 60%;
    left: -30px;

}

#negozio{
    padding: 35px 0px;
}

@media (max-width: 767px) 
{
    .align-signature-bottom{
        display: none;
    }

    .shop-card{
        margin-bottom: 100px;
    }
}

.price-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 65px;

    letter-spacing: 0.04em;
    text-align: center;
    position: relative;
    bottom: 50px;
}

@media (max-width: 992px) 
{
    .price-text{
        letter-spacing: 0.00em;
    }
}

.canceled-price-text{
    text-decoration: line-through;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.04em;
    color: var(--terthiary-text-color);
    position: relative;
    bottom: 20px;
    left: 20px;
}

body {
    overflow-x: hidden !important;
}

.buy-now{
    display: block;
    /* min-width: 200px; */
    min-height: 50px;
    background: var(--primary-background-color);
    border-radius: 20px 0px;
    position: relative;
    margin-left: 25%;
    margin-right: 20%;
    bottom: 50px;
    border: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--white-text-color);

    transition: all 0.7s;
}

.buy-now:hover{
    background: var(--terthiary-background-color);
}

.comment-card{
    background: var(--white-background-color);
    box-shadow: 7px 7px 30px 5px var(--black-text-color);
    border-radius: 70px 0px;
    margin-bottom: 60px;
}

.avatar-image{
    width: 100px;
    height: 90px;
    border-radius: 40px 0px;
    position: relative;
    margin: auto 0;
    right: 50px;
}

.name-comment{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    display: inline;
    padding-left: 10px;

    color: var(--black-text-color);

}

.role-comment{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline;

    color: var(--terthiary-text-color);
}

.text-comment{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 20px;

    color: var(--terthiary-text-color);
}

.quote-text{
    position:relative;
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 0px;


    color: var(--primary-text-color);
}

@media (max-width: 1400px) 
{
    .quote-text{
        right: 10px;
    }
    
}

@media (max-width: 1200px) 
{
    .quote-text{
        right: 20px;
    }
    
}

@media (max-width: 992px) 
{
    .quote-text{
        right: 40px;
    }
    
}

@media (max-width: 767px) 
{
    .quote-text{
        display: none;
    }

    .avatar-image{
        position: relative;
        margin: 0 auto;
        right: 0;
        bottom: 20px;
    }
    
}

[type="email"]{
    background: var(--secondary-background-color);
    border: 1px solid var(--black-background-color);
    border-radius: 20px 0px 0px 0px !important;
    width: 70% !important;
    display: inline !important;
    height: 50px !important;
    left: 30px !important;
    position: relative;
}

[type="submit"]{
    display: inline !important;
    width: 20% !important;
    background: var(--primary-background-color) !important;
    border: none !important;
    border-radius: 0px 0px 20px 0px !important;
    height: 50px !important;
    bottom: 2px;
    left: 25px !important;
    position: relative;
    font-weight: bold !important;
    text-align: center !important;
}

[type="submit"]:hover{
    background: var(--terthiary-background-color) !important;
}


@media (max-width: 443px) 
{
    [type="submit"]{
        font-size: 15px !important;
    }
}

@media (max-width: 430px) 
{
    [type="submit"]{
        font-size: 11px !important;
    }
}

@media (max-width: 320px) 
{
    [type="submit"]{
        font-size: 10px !important;
        font-weight: normal !important;
    }
}

.logo-footer{
    position: relative;
    margin: 0 auto;
    display: block;
}

.footer-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.footer{
}

@media (max-width: 363px) 
{
    .h2-responsive{
        font-size: 40px !important;

    }
}

.adjust-footer{
    padding-top: 60px;
    padding-bottom: 1px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
